.bg1{
    height: 120vh;
   margin-top: -20px;
   margin-left: -8%;
    transform: rotate(-15deg);
}

@media(max-width:767px){
    .bg1{
        display:none;
    }
    .picarea{
        background-color: black;
        width: 100vw;
    }
}
.picarea{
    position: absolute;
    height: 100vh;
    top: 0%;
    padding: 5%;
 
}

.imgarea{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-radius: 12%;
    overflow: hidden;
    background-color: black;
}

.textarea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 15%;
}
html,body{
    overflow-x: hidden;
}

ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #2B2A2A;
    padding:2%;
    position: fixed;
    bottom: -20px;
}
li{
    margin-right: 10px;
    font-size: 20px;
    color:white;
    padding: 2%;
}
li span{
    display: none;
    
}

li i{
    width: 20px;
    height: 20px;
    border: 1px solid grey;
    border-radius: 50%;
    padding: 10px;
    
}
li i:hover{
    background-color: orange;
    transition: cubic-bezier(0.39, 0.575, 0.565, 1);
}

@media(min-width:767px){
    ul{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        justify-content: space-between;
        width: 300px;
        text-align: left;
        justify-content: left;
        align-content: left;
        background:none;
        padding:2%;
        position: fixed;
        top: 25px;
        right: -4%;
}

    li{
        margin-bottom: 23px;
    }

    li span{
        display: inline;
        color:#2B2A2A

    }
    li span:hover{
        color:white;
        background-color: orange;
    }


}